# Compiled files
*.tfstate
*.tfstate.backup

# .terraform directories
.terraform/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Log files
*.log

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore JetBrains IDE files
.idea/

# Ignore Visual Studio Code files
.vscode/

# Ignore MacOS files
.DS_Store
